* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  margin: 0;
}
body {
  background-color: #dddd;
  height: 100%;
  margin: 0;
}
h1 {
  font-style: oblique;
  font-size: 50px;
  font-family: serif;
  color: darkslategrey;
  text-align: center;
}
.subtitulo {
  text-align: center;
}
.imag-principal {
  width: 100%;
  height: auto;
  margin-top: 3rem;
  color: #212529;
}
footer {
  display: flex;
  background-color: #212529;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 10px;
  margin-top: 1rem;
}
.footer-a {
  text-decoration: none;
  color: #fff;
}
@media (max-width: 500px) {
  body,
  html {
    height: 100%;
    margin: 0;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1;
    padding: 20px;
  }
}
